[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
keras = "*"
tensorflow-hub = "*"
tensorflow = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
jupyterlab = "*"
scikit-image = "*"

[requires]
python_version = "3.7"
